{% extends "layout.j2" %}
{% block page_title %}
    - Previous Jobs
{% endblock page_title %}
{% block page_content %}
    <div class="bulletlist company">
        {% if career_list|length< 1 %}
            {% include "comp/empty_notice.j2" %}
        {% else %}
            {% for c in career_list %}
                {% include "comp/company.j2" %}
            {% endfor %}
        {% endif %}
    </div>
    {% if should_display_pagination %}
        <div class="pagination">
            {% for page_n in all_pages %}
                {% if page_n == current_page %}
                    <span class="page-num active">{{ page_n + 1 }}</span>
                {% else %}
                    <a class="page-num" href="?page={{ page_n }}">{{ page_n + 1 }}</a>
                {% endif %}
            {% endfor %}
        </div>
    {% endif %}
{% endblock page_content %}
