<div>
    {% if p.image %}
        <img src="{{ p.image }}" alt="{{ p.title }}" />
    {% else %}
        <div>{# There isn't always an image, add empty div to keep consistent design #}</div>
    {% endif %}
    <h2>{{ p.title }}</h2>
    <a href="{{ p.git_url }}">{{ github_logo|safe }}</a>
    {% if p.url %}<a href="{{ p.url }}">Live Demo</a>{% endif %}
    <p>{{ p.description }}</p>
    <ol>
        {% for tech in p.technologies %}<li>{{ tech }}</li>{% endfor %}
    </ol>
</div>
