<ul>
    <li>
        <a href="/">about me</a>
    </li>
    <li>
        <a href="/career">Previous jobs</a>
    </li>
    <li>
        <a href="/projects">projects</a>
    </li>
    <li>
        <a href="#">example</a>
    </li>
    <li>
        <a href="#">example</a>
    </li>
    <li>
        <a href="#">example</a>
    </li>
    <li>
        <a href="#">example</a>
    </li>
</ul>
