<ul>
    <li>
        <a href="/">about me</a>
    </li>
    <li>
        <a href="/career/">my career</a>
    </li>
    <li>
        <a href="/projects/">projects</a>
    </li>
    <li>
        <a href="/contact/">contact me</a>
    </li>
</ul>
